doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        script(src="https://cdn.tailwindcss.com")
    body(class="bg-gray-200 min-h-screen")
        header
            
                nav(class="bg-white py-5")
                    ul(class="flex flex-col sm:flex-row justify-around text-center sm:w-1/2 md:w-1/3 mx-auto")
            
                        li
                            a(href="/")= "Home"
                        if !jwt
                            li
                                a(href="/login")= "Log In" 
                            li
                                a(href="/signup")= "Sign Up"
                        if jwt
                            li
                                a(href="/records")= "Records"
        main
            block content
        footer(class="py-5")
            div(class="text-center bottom-0 fixed py-5 bg-white w-full")
                span= "This is a footer."